body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.content__footer {
  padding-top: 30px;
}


.form-label {
  display: flex;
  align-items: center;
  /* Align label with input vertically */
}

.direct-bot-content img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 10px 0;
  display: block;
  font-size: 20px;
}

.direct-user-content img {
  /* width: 10px;
  height: 100px; */
  object-fit: contain;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.backgroundImage {
  /* background-image: url("../src/assets/test.jpg"); */
  background-size: cover;
  position: relative;
}

.backgroundImage::before {
  background-image: url("../src/assets/test.jpg");
  position: absolute;
  content: "";
  width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: brightness(1.1);
}

.direct-bot-content span span {
  font-size: 18px;
}

.video-container {
  /* position: relative;
    overflow: hidden; */
  width: 100%;
  padding: 10px;
  height: 300px;
}

.responsive-video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.commonclass {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.common{
  font-size: 12px;
  font-weight: 600;
}
.carousel-indicators{
  bottom: -35px !important;
}
.carousel-indicators button {
  background-color: black !important;
}
.carousel-indicators [data-bs-target] {
  margin-right: 5px !important;
  width: 11px !important;
}
.comtest{
  font-weight: 700;
  font-style: normal;
  font-kerning: none;
  text-decoration: none;
  font-size: 13px;
}
.swiper-pagination-bullet {
  background-color: #01579b;
}

/* Card Styling */
.card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}
.swiper-wrapper{
  display: flex;
}
.attemptcom{
  font-size: small;
  font-weight: 500;
}
.lineChatclss{
  padding: 3px;
  width: auto;
  height: auto;
}
.offcanvas-bg{
  background-image: url('./assets/bgappbar.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* d-flex justify-content-between align-items-center gap-4 mb-1 border-bottom pb-1 mt-2 */
.profilecom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  margin-bottom: 25px;
  border-bottom: 1px solid #0e0b0b;
  padding-bottom: 1px;
}
.my-button:active {
  border-color: #ff5722;  /* Change the border color when clicked */
}
.css-debwa9{
  background-color: #d9e6f3 !important;
}
.MsoTableGrid{
  border-collapse: collapse !important;
    border: none !important;
    width: auto !important;
}